.card-propiedad{
    background-color: antiquewhite;
    width: 300px;
    height: 400px;
}
.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card-propiedad p {
    background-color:azure;
    margin: 10px;

}

.div-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #FFF;
}

 .btn-actualizar, .btn-confirmar-crear {
    background-color: #2995C2;
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: white;
    width: 100px;

}
.btn-eliminar {
    background-color: rgb(192, 27, 27);
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: white;
    width: 100px; 
}

.btn-eliminar:hover , .btn-actualizar:hover{
    transform: scale(1.1);
}



.btn-eliminar:active{
    background-color: rgb(255, 0, 0);
    transform: scale(1.2);
}
.btn-actualizar:active, .btn-confirmar-crear:hover:active{
    background-color: #2ab2ec;
    transform: scale(1.2);
}

.container-btn-crear{

    margin: 20px 70px;
    display: flex;
    justify-content: flex-end;
}
.container-btn-crear button{
    background-color: rgb(27, 143, 27);
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: white;
    width: 170px;
    height: 45px;
}

.btn-crear:hover{
  transform: scale(1.1);
}

.btn-crear:active{
    transform: scale(1.2);
    background-color: rgb(24, 167, 24);
  }



 
.card-actualizar {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }
  
  /* Estilo para cada tarjeta de propiedad */
  .card-actualizar{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 10px;
    background: #FFF;
    height: 500px;
  }

  .card-actualizar label, input{
    font-family: Roboto;
  }

.input-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-btn-confirmar-actualizar,.container-btn-confirmar-crear {
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 20px;
}

.container-btn-confirmar-actualizar button{
position: relative;
}
.container-btn-confirmar-crear button {
    position: relative;
}


.container-btn-confirmar-cancelar {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: -57px;
    margin-bottom: 40px;
    margin-right: 35px;
}


.btn-confirmar-crear:hover {
    transform: scale(1.1);
}

.container-cards{
margin-bottom: 70px;

}

.card-create, .card-actualizar{
    zoom: 1.1;
}


.no-hay-propiedades{
    font-size: 25px;
    font-family: Roboto;
}

