.container-login {
    display: flex;
    background-color: #F3F3F3;
    width: 40%;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 15px;
    margin-bottom: 13%;
}

.title-login {
    color: black;
    font-size: 25px;
    font-family: Roboto;
    padding-bottom: 4%;
}

.p-error {
    margin-bottom: 2%;
    color: black;
    font-family: Roboto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
    height: 300px;
    justify-content: center;
}



.form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.form-login input {


    border-radius: 5px;
    border: none;
    padding-left: 2%;
    height: 30px;
    width: 100%;
}


.form-login button {
    background-color: #2995C2;
    border-radius: 5px;
    width: 50%;
    height: 40%;
    border: none;
    color: white;
    font-family: Roboto;
}
.form-login button:hover {
    background-color: #2995C2;
    transform: scale(1.1);
}
.form-login button:active {
    background-color: #2995C2;
    color: white;
}

.container-login-welcome {
    background-color: rgb(243, 240, 255);
    margin: auto;
    width: 50%;
    border-radius: 10px;
   
}

.img-pet-welcome {
    margin: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.login-welcome {
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}



@media (max-width: 500px) {
    .container-login {
        width: 90%;
        zoom: 1.2;
    }

    .form-login input {
        width: 70%;
    }
    .container-login-welcome {
        margin: auto;
        width: 90%;
        border-radius: 10px;
    }
    .container-login-welcome h1{
        font-size: 30px;
    }
    
    .img-pet-welcome {
        margin: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        
    }
    .img-pet-welcome img{
        width: 300px;
    }
}


@media (max-width: 800px) {
    .container-login {
        zoom: 1.2;
        width: 70%;
    }
    .container-login-welcome {
        margin: auto;
        width: 90%;
        border-radius: 10px;
    }
    .container-login-welcome h1{
        font-size: 40px;
    }
    
    .img-pet-welcome {
        margin: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        
    }
    .img-pet-welcome img{
        width: 400px;
    }

}

@media (max-width: 450px) {
    .container-login {
        width: 95%;
        height: 100%;
    }

    .form-login {
        zoom: 1.1;

    }
    .container-login-welcome {
        margin: auto;
        width: 90%;
        border-radius: 10px;
    }
    .container-login-welcome h1{
        font-size: 30px;
    }
    
    .img-pet-welcome {
        margin: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
        
    }
    .img-pet-welcome img{
        width: 300px;
    }

}