section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
  }
  
  .logo{
    width: 450px;
  }
  
  .logo-container{
    display: flex;
    flex-direction: column;
    gap:8px;
  }
  .logo-container span:hover{
    cursor: pointer;
  }
  .icons-container{
    display: flex;
    gap: 20px;
  }
  .box-icons{
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
  .box-icons:hover{
    cursor: pointer;
  }
  .footer-icons{
    font-size: 25px;
    color: #fbfbfb;
  }
  
  hr{
    background-color: #ECECEC;
    margin: 2em 15%;
    height: 2px;
    border: none;
  }
  
  .terms-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .terms-links li{
    cursor: pointer;
    text-decoration: underline;
  }
  